body {
    background-image: url("bckgrnd.png");
    background-repeat: repeat;
    display: grid;
}

nav {
  padding: 75px;  
}

#overflow {
    padding-left: 20px;
}

#email {
    padding-left: 20px;
}

#linkedin {
    padding-left: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 100;
    padding-left: 75px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 10px;
    padding-left: 75px;
}

h3 {
    border-bottom: #ffffff solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    padding-top: 125px;
    padding-bottom: 50px;
    margin-left: 75px;
    margin-right: 75px;
}

#arrow {
    margin-left: 20px;
}

main {
    padding-top: 100px;
}

article {
    padding-top: 30px;
    line-height: 1.5;
    padding-left: 75px;
    padding-right: 75px;
}

#myphoto {
    clip: rect(50px,50px,50px,50px);
    border-radius: 100px;
    border: solid 3px #2c5fa8;
    position: relative;
    bottom: 925px;
    left: 75px;
}

section {
    background-color: #969696;
    opacity: .6;
    color: #ffffff;
    position: relative;
    top: 25px;
}

div {
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 75px;
}

.image1 {
    width: 250px;
    height: 150px;
}

.image2 {
    width: 250px;
    height: 150px;
    padding-top: 20px;
}

.image3 {
    width: 250px;
    height: 150px;
    padding-top: 20px;
}

footer {
    border-top: #ffffff solid;
    text-align: center;
    padding:20px;
    margin-left: 75px;
    margin-right: 75px;
    grid-area: footer; 

}

@media only screen and (min-width: 600px) {
    #image2 {
        padding-left: 50px;
    }
    #image3 {
        padding-left: 50px;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 40px;
    }

    #myphoto {
        position: relative;
        top: 125px;
        left: 1125px;
        z-index: 1;
    }
}